

.pictures {

  display: flex;
  width:1024px;
  justify-content: center;
  flex-flow: wrap;

}
.reverse{

  background: red;
  width: 1038px;
  height: 400
}

.flip {
  position: relative;
}

.front {
  position: absolute;
  background: blue;
  width: 170px;
  height: 170px;
}

.back {
  position: absolute;
  background: red;
  width: 170px;
  height: 170px;
  display: flex;
  flex-flow:column;
  justify-content: center;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

}

.back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(180deg);
  display: flex;
}



.card.effect_hover:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card.effect_hover:hover .back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
